#cv-edit #experience .items,
#cv-edit #edu .items{
	margin-bottom: 10px;
}
#cv-edit #experience #btn-show-formnew i,
#cv-edit #edu #btn-show-formnew i,
#cv-edit #back-card #skills #btn-show-formnew i,
#cv-edit #back-card #languages #btn-show-formnew i{
 margin-right: 5px;
}
#cv-edit #back-card #skills #skills-collection,
#cv-edit #back-card #languages #lang-collection{
  background-color: #FFF;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-top: 20px;
}
#cv-edit #languages #input-lang-name{
	width: 240px;
}
#cv-edit #languages #input-lang-proficiency{
	width: 200px;
}
#cv-edit #back-card #skills .item,
#cv-edit #expectation-card .item,
#cv-edit #back-card #languages .form-edit .item{
	float: left;
	margin-right: 7px;
	margin-bottom: 5px;
}
#cv-edit #skills .skill-detail,
#cv-edit #languages #lang-proficiency{
	font-size: 12px;
	font-style: italic;
}